html,
body,.container {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    background-color: #2d4059;
}


ul,li {
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    flex-direction: column;
}

.header {
    color: black;
    padding: 15px;
    font-size: 2rem;
    text-align: center;
}

/* MAIN CONTENT */

.content {
    border-radius: 16px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    padding-inline: 5vw;
}

.card {
    position: relative;
    color: white;
    background-color: black;
    border-radius: 25px;
    overflow: hidden;
    margin-block: 30px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.36) 3px 4px 4px;
}

.card .information {
    padding-block: 12px;
    background-color: black;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 15px;
}

.actions {
    position: absolute;
    bottom: 70px;
    list-style: none;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    background-color: rgba(45, 45, 45, 0.472);
}

.actions li {
    margin: 5px;
    cursor: pointer;
}

.actions img {
    width: 90%;
    height: 90%;
}

.isread {
    text-align: right;
}

.card .book-cover {
    height: 350px;
    width: 250px;
}

.card:hover div .book-cover {
    filter: blur(4px);
}

.card:not(:hover) .actions{
    visibility: hidden;
}

#new-book {
    border: none;
    outline: none;
    font-size: 1.8rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background: rgb(11, 101, 255);
    position: fixed;
    bottom: 5%;
    right: 5%;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    transition: transform .25s, opacity 0.25s;
}

#new-book:hover {
    width: 60px;
    height: 60px;
    transform: rotate(90deg) scale(1.2);
}

/* POPUP */

.popup {
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100%;
    width: 100%;
    visibility: hidden;
}

.popup .container {
    text-align: center;
    gap: 15px;
    height: 380px;
    width: 350px;
    background-color: rgb(167, 167, 167);
    border-radius: 15px;
}

.container .prompt {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 30px;
}

/* POPUP FORM */

.popup .container {
    display: flex;
    flex-direction: column;
    margin-inline: 25px;
    gap: 15px;
}

#checkbox-question {
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.container input {
    font-size: 1.1rem;
    padding-block: 8px;
    border-radius: 8px;
    border: none;
    margin-inline: 15px;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 2px 2px 4px;
}

.container input:focus {
    outline: none;
}

input[type=checkbox] {
    transform: scale(1.5);
}

#question {
    margin-top: 15px;
}

#submit {
    font-size: 1rem;
    margin-inline: 25px;
    margin-top: 2px;
    background-color: #9fff9c;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding-block: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 2px 2px 4px;
}

.error {
    position: relative;
    bottom: 5px;
    font-size: 0.9rem;
    color: rgb(255, 0, 0);
    margin-inline: 25px;
    text-align: left;
    visibility: hidden;
}